{% extends "dashboard/base.html" %}
{% load staticfiles %}


{% block extrahead %}

    <!-- DataTables CSS -->
    <link href="{% static "bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css" %}" rel="stylesheet">

    <!-- DataTables Responsive CSS -->
    <link href="{% static "bower_components/datatables-responsive/css/dataTables.responsive.css" %}" rel="stylesheet">

{% endblock extrahead %}


{% block content %}


    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Result Division</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
    <div class="col-lg-12">
    <div class="panel panel-default">
    <div class="panel-heading">

    </div>
    <!-- /.panel-heading -->


<form method="post">{% csrf_token %}
    Are you sure you want to delete "{{ object }}" ?
    <input type="submit" value="Delete" />
</form>



    </div>




    <!-- /.row -->

{% endblock content %}












